<!DOCTYPE html>
<html>
<head>
    <title>Fit Buddy</title>
    <link rel="stylesheet" href="/style.css"></head>
<body>
    <h1>Fit Buddy</h1>
    <form action="/plan" method="post">
        <label for="name">Name:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br>
        <label for="height">Height:</label>
        <input type="number" name="height" id="height" min="1">
        <select name="heightUnit">
            <option value="cm">cm</option>
            <option value="ft">ft</option>
        </select><br>
        <label for="weight">Weight:</label>
        <input type="number" name="weight" id="weight" min="1">
        <select name="weightUnit">
            <option value="kg">kg</option>
            <option value="lbs">lbs</option>
        </select><br>
        <label>Gender:</label>
        <select name="gender">
            <option></option>
            <option>Male</option>
            <option>Female</option>
        </select><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>