<!DOCTYPE html>
<html>
<head>
    <title>Fitness App</title>
</head>
<body>
    <h1>Get Your Workout and Meal Plan</h1>
    <form action="/plan" method="post">
        <label for="name">Name:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br>
        <label for="height">Height:</label>
        <input type="number" name="height" id="height" min="1">
        <select name="heightUnit">
            <option value="cm">cm</option>
            <option value="ft">ft</option>
        </select>
        <label for="weight">Weight:</label>
        <input type="number" name="weight" id="weight" min="1">
        <select name="weightUnit">
            <option value="cm">kg</option>
            <option value="ft">lbs</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
